<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FindNorth</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar">
            <h1>
                FindNorth
                <img src="{{ url_for('static', filename='images/nstar.png') }}" alt="FindNorth Logo" class="logo">
            </h1>
            <!-- <ul> -->
                <li><a href="/">Home</a></li>
                <li><a href="/login">Forum</a></li>
                <li><a href="/signup">Logout</a></li>
            </ul>
        </nav>
        
        <!-- Main Content -->
        <main>
            
            <h2>Hi, welcome to your profile:</h2>
        
        </main>
    </body>
</html>